[ req ]
prompt = no
default_bits = 4096
distinguished_name = req_distinguished_name
req_extensions = req_ext

[ req_distinguished_name ]
C=DE
ST=BW
L=Ulm
O=Ulm University
OU=ZTSFC
CN=ZTSFC Testbed CA

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = ca.ztsfc.com
