# Ignore all files with secrets
 secrets/*

 # ... except examples
 !secrets/example_*

 # Ignore bootstrap.ldif
 /bootstrap.ldif

 # Ignore all internal files from the container mount points
 /ldap_etc_ldap_slapdd
 /ldap_var_lib_ldap 
